#btnstyle{
    background-color: green;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 58px;
    margin-top: -7px;
    width: 123px;
}
#logoutbtn{
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 37px;
    cursor: pointer;
    width: 373px;
    margin-left: 0px;
    padding-left: 98px;
    font-size: 27px;
    font-weight: bolder;
}


.logdiv{
    background-color: #000000;
    width: 370px;
    height: 229px;
}