
#btnstylecreateplaylist{
    
    background-color: green;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 73px;
    margin-top: 2px;
    width: 155px;
    text-decoration: none;
    width: 59px;
    padding: 13px 28px;
    padding-right: 73px;
    margin-top: 8px;
    margin-left: -18px;
}
#createNewPlaylistInput{
    margin-top: -578px;
    padding: 8px;
    border-radius: 28px;
    
}
#flexx{
    background-image: url('../../imagess/songwalpaper2.jpeg') ;
    background-size: contain;
    height: 100vh;
    width: 100vw;
}