
#btnstylecreateplaylist{
    
    background-color: green;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 13px;
    margin-top: 2px;
    width: 155px;
    text-decoration: none;
    width: 59px;
    padding: 13px 28px;
    padding-right: 73px;
    margin-left: -128px;
    text-decoration: none;
    margin-top: 15px;
}
#createNewPlaylistInput
    {
        margin-left: -117px;
        margin-top: -256px;
        padding: 8px;
        border-radius: 28px;
    }
#flexx{
    width: 90vw;
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../../imagess/monkey-3507317_960_720.jpg');
    background-position:center;
    background-size: cover;
    object-fit: cover ;
    margin-top: 60px;
    margin-left: 193px;
      height: 74vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* width: 100vw; */
      align-items: center;
      justify-content: center;
}
