#HomePagediv{
        /* background-color: #121212;
        font-family: 'Montserrat', sans-serif;
        height: 200vh;
        width: 100vw;
        margin-left: 197px;
        margin-top: -24px;
        margin-bottom: 0px;
        background-image: url('../../imagess/cover3.webp');
        background-size: cover;
        
          margin-bottom: 2px;
          width: 75vw;
          height: 94vh; */
          background-color: #121212;
          font-family: 'Montserrat', sans-serif;
          height: 200vh;
          width: 100vw;
          margin-left: 197px;
          margin-top: -24px;
          margin-bottom: 0px;
          background-image: url('../../imagess/cover2.webp');
          background-size: cover;
          margin-bottom: 2px;
          width: 1319px;
          background-repeat: no-repeat;
          height: 94vh;
          background-size: 1315px;
        
        
}