#loginp{
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    height:50px;
    width: 120px;
}
#heading{
    font-size: 1111115px;
    font-weight: normal;
    color: blue;
}
#btnstyle{
    background-color: green;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    border-radius: 400px;
    cursor: pointer;
    margin-left: 73px;
    margin-top: 2px;
    width: 1130px;
}
#loginBtn{
    background-color: green;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    border-radius: 400px;
    cursor: pointer;
    margin-left: 73px;
    margin-top: 2px;
    width: 1130px;

}
#inpts{
    border-radius: 14px;
    width: 268px;
    margin-bottom: 17px;
    padding: 5px;

}