#loginp{
    display: flex;
    background-color:white;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
img{
    height:50px;
    width: 120px;
    margin-top: 53px;
    margin-left: 13px;
}
#heading{
    font-size: 11px;
    font-weight: normal;
    
    /* color: blue; */
}
#btnstyle{
    background-color: green;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    border-radius: 400px;
    cursor: pointer;
    margin-left: 73px;
    margin-top: 2px;
    width: 1130px;
}
#loginBtn{
    background-color: green;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border: 0px;
    border-radius: 400px;
    cursor: pointer;
    margin-left: 129px;
    margin-top: -7px;
    width: 93px;
    padding: 19px;
    margin-top: 14px;
  }  
  #loginBtn:hover{
    border: 3px solid black;
  } 
#inpts{
    border-radius: 14px;
    width: 268px;
    margin-bottom: 17px;
    padding: 5px;

}
.inputstyle{
    width: 400px;
    padding: 6px;
    border-radius: 9px;
    border: 1px solid black;
}
.inputstyle:focus{
    border:3px solid black;
}