#loginp{
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140vh;
}

img{
    height:50px;
    width: 120px;
}
.heading{
    font-size: 15px;
    font-weight: bolder;
    margin-top: 11px;
}
.sendOtpStyling{
    margin-left: 68px;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid black;
    
}
.sendOtpStyling:hover{
    border: 3px solid black;
}