#mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btnstyle{
    background-color: green;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    /* padding: 14px 30px; */
    border: 0px;
    border-radius: 400px;
    cursor: pointer;
    margin-left: 73px;
    margin-top: 2px;
    width: 130px;
}