.player_container
{
    width: 70%;
    padding: 1rem;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    margin-left: 216px;
    border-radius: 47px;
    width: 1281px;

}

    
    .navigation{
        width: 100%
    }
    
    .seek_bar{
        width: 0;
        height: 100%;
        background-color: rgb(24, 128, 3);
        border-radius: 309px;
    }
    .navigation_wrapper
        {
            min-width: 100%;
            background-color: rgba(119, 119, 119, 0.781);
            height: 5px;
            border-radius: 30px;
            cursor: pointer;
            
           

        }
    .controls{
        font-size: inherit;
        display: flex;
        align-items: center;

        
        }
        
        .pp
        {
            font-size: 4rem;
            
        }
        .btn_action
        {
            font-size: 2rem;
            margin: 0 1rem;
            cursor: pointer;
        
    
}