.modalContainer{
    background-color: #121212;
    
    /* background-image: url('../../../imagess/cover2.webp'); */
    font-family: 'Montserrat', sans-serif;
    height: 200vh;
    width: 100vw; 
    margin-bottom: 0px;
 

    width: 402px;
    height: 308px;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 200px ;
    border-radius: 22px;
}
#modalDiv{
    display: flex;
    flex-direction: column;
   width: 350px;
   justify-content: center;
   align-items: center;
   height: 200px;
   margin:15% auto;
   border-radius: 22px;
   
}
#modalDiv h1{
color: green;
    font-size: 40px;
    font-weight: bolder;
    margin-left:50px ;
}
 #modalDiv button{background-color: #ffffff;
color: #000000;
font-size: 16px;
font-weight: bold;
padding: 14px 30px;
border: 0px;
border-radius: 40px;
cursor: pointer;
margin-left: 20px;
}
.blur {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
    height: 100vh;
    width: 50%;
  }